<div class="well well-sm" id="<%= @comment.id %>">
	<strong><%= @comment.user.name %>:</strong>
	<br>
	<%= @comment.content %>
	<div class="text-right">
		<%= link_to 'Eliminar', post_comment_path(@post, @comment), method: :delete, data: { confirm: 'Estás seguro que deseas eliminar el Comentario?', remote:true }, class: 'btn btn-xs btn-danger' %>
	</div>
</div>