<%= form_with(model: [@post, @comment], html: { class: 'form-horizontal' }) do |f| %>
	<div class="form-group">
		<div class="col-md-12">
			<%= f.text_area :content, placeholder: 'Escribe tu comentario aquí...', class: 'form-control' %>
		</div>
	</div>
	<%= f.submit 'Actualizar', class: 'btn btn-primary' %>
<% end %>